/* Number of Columns */

$columns: 4;


/* Colors */
$background-color: #242e30;
$primary-color: #3c8b9c;
$secondary-color: #6fbf44;
$secondary-color-hover: #65a443;
$block-bg-color: #fff;
$block-heading-color: #333;